<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>App Name TBD</h1>
    <h3>App Description</h3>
    <h1>Places Show Page</h1>
    <nav>
      <!-- bootstrap breadcrumb -->
      <!-- create new user link-->
      <a href="/users/new">Register</a>
      <!-- log in link-->
      <a href="/sessions/new">Log In</a>
      <!-- log out link if logged in-->

    </nav>
    <%=treats.places.name%>
    <!-- <ul>
      <% for(let i=0; i < places.length; i++) {%>
      <li>
        <a href="/treats/:id/places/:id"></a>
      </li> -->

      <!-- address -->
      <!-- description -->
      <!-- messages if logged in-->
      <!-- <% } %>
    </ul> -->

  </body>
</html>
