<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
        <%include ../partials/head.ejs%>
  </head>
  <body>
    <div class="container">

    <!-- App Name -->
    <h1>SnackMap</h1>
    <h3>Where are the snacks you want?</h3>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/users/new">Register</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/sessions/new">Log In</a></li>
  </ol>
</nav>
    <!-- customize to username -->
    <h1> <% if(currentUser) { %>
         Welcome <%=currentUser.username%>!
         <%} else {%>
           Welcome!
         <% } %>
         </h1>
    <h3>Here are some snacks to try:</h3>

    <!-- treats for loop ul li with link to show pages-->
    <ul>
       <% for (let i=0; i< treats.length; i++){ %>
         <li>
           <p>
           <a href="/treats/<%=treats[i].id; %>"><%=treats[i].name%></a></p>
         </li>
       <% } %>
     </ul>
    <!-- if user is me, edit, create, delete links -->
  <li>
   <a href="/treats/new">Add a New Snack</a>
 </li>
 <!-- logout -->
 <% if(currentUser) { %>
      <form action="sessions?_method=DELETE" method="POST">
        <input id = "logout" type="submit" name="" value="Logout">
      </form>
    <% } %>

  </div>
<% include ../partials/footer.ejs %>
  </body>

</html>
