<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add a new Treat!</h1>
    <form action="/treats" method="POST">
      Name:
      <input type="text" name="name">
      Image:
      <input type="text" name="image" placeholder ="image url">
      Description:
      <input type="text" name="description">
      places:
      <input type="text" name="places" placeholder="place url">
      <input type="submit" value="Add new Treat">
    </form>
  </body>
</html>
